
aside{
  background: #fafafa;
  border: 1px solid #f0f0f0;
  padding: 15px 0;
  margin-bottom: 60px;
  .nav>li {
    &.active{
      .nav {
        margin: 10px 0;
      }
      &>a {
        background: $green;
        color: #fff;
        &:after {
          color: #fff;
        }
      }
    }
    &> a {
      padding: 15px 50px 15px 30px;
      color: #000;
    }
    &+li {
      margin-top: 0px;
    }
    .nav {
      &> li > a {
        color: $blue;
        font-size: 13px;
        padding: 7px 30px 7px 40px;
      }
    }
    &[data-menu-dropdown] {
      &> a:after {
        right: 30px;
        color: $gray;
        font-size: 11px;
        top: 21px;
      }
      &.active>a{
        background: transparent;
        color: #000;
        &:after {
          color: $gray;
        }
      }
    }
  }
}