.ui-widget.ui-autocomplete {
  border:1px solid $lightgray;
  font-size: 13px;
  font-family: 'Open Sans';

  margin-top: 8px;
  @include arrow();
  @include transform(translateY, 15px);

  .ui-menu-item-wrapper {
    padding: 6px 13px;
    border: 0;
    @include transition(all 0.3s);
    &.ui-state-active{
      padding: 6px 13px;
      background: $green;
      border: 0;
      margin: 0;
    }
  }

}