.ui-datepicker {
  &.ui-datepicker-multi{
    font-family: 'Open Sans';
    height: 465px;
    width:310px!important;
    border-radius: 0;
    padding: 0;
    border: 1px solid $lightgray;
    margin-top: 8px;

    z-index: 2!important;
    @include arrow();

    .ui-calendar-head {
      height: 30px;
      width: 100%;
      float: left;
      border-bottom: 1px solid $lightgray;
    }
    .ui-calendar-sidebar {
      width: 83px;
      float: left;
      font-size: 13px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          padding:9px 13px;
          cursor: pointer;
          @include transition(all 0.3s);
          &.active{
            background: $green;
            color: #fff;
          }
        }
      }

    }
    table.ui-calendar-weeks {
      position: absolute;
      top: 30px;
      width: 185px;
      right: 23px;
      font-weight: 600;
      font-family: 'Open Sans';
      background: #fff;
      font-size: 11px;
      text-transform: uppercase;
      padding: 50px 0px;
      th{
        padding-top: 15px;
      }
    }

    .ui-calendar-list {
      width: 225px;
      float: left;
      border-left: 1px solid $lightgray;
      padding: 40px 10px 10px 10px;
      position: relative;
      overflow: hidden;
      height: calc(100% - 30px);
      .scroll-pane{
        overflow: auto;
        height: 100%;
      }

      .ui-state-active {
        color: #00ba4e;
      }
    }




    .ui-state-default, .ui-widget-content .ui-state-default {
      border: 0;
      background: transparent;
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      @include transition(all 0.3s);
      &:hover{
        background: $green;
        color:#fff;
      }
    }

    .ui-datepicker-group {
      width: 100%;
      .ui-datepicker-header{
        background: transparent;
        border: 0;
        color: #999999;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 11px;
        font-family: 'Open Sans';
        padding: 22px 0px 10px 0px;
        .ui-datepicker-year{
          display: none;
        }
      }
      .ui-datepicker-calendar thead{
        display: none;
      }
    }
  }
}

.datepicker-backdrop{
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

@media (max-width: 1139px) {
  .datepicker-backdrop{
    filter: alpha(opacity=50);
    background-color: #000;
    opacity: 0.5;
    z-index: 1000;
  }
  .ui-datepicker {
    &.ui-datepicker-multi{

      border: 0px solid #00ba4e;
      position: fixed !important;
      top: 20px !important;
      left: 50% !important;
      z-index: 1002 !important;

      padding-top: 60px;
      height: 525px;
      @include transform(translateX, -50%);

      table.ui-calendar-weeks {
        position: absolute;
        top: 90px;
        width: 207px;
        right: 15px;
      }
      &:before {
        content: "Выбрать дату поездки!";
        background: none;
        width: 100%;
        padding: 13px 20px;
        display: block;
        color: #000000;
        font-size: 12px;
        border-bottom: 1px solid #f0f0f0;
        height: auto;
        line-height: 28px;
        margin-top: 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }

      &:after {
        content: "";
        position: absolute;
        top: -16px;
        left: 0;
        border: 6px solid #00ba4e;
        width: 100%;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        display: block;
      }
    }
  }
}