
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }


button, input, textarea, .btn{
  &:focus, &:active{
    outline: none;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}



.form-control, .date[readonly]{
  height: 50px;
  border: 1px solid $lightgray;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  background: #fff;
  -webkit-appearance: none;
  &:focus, &:active, &.active{
    box-shadow: none;
    outline: none;
    border-color: $green;
    background: #fff;
  }

  &::-webkit-input-placeholder {color:#000;}
  &::-moz-placeholder          {color:#000;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#000;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#000;}
}

.form-route{
  padding: 20px 0 50px 0;
  .btn-replace{
    border: 0;
    background: transparent;
    color: #f0f0f0;
    position: absolute;
    right: 5px;
    display: none;
    bottom: 44px;
    font-size: 34px;
    padding: 0;
    &:hover, &:active{
      color: $green;
    }
    &+.form-control{
      width: 100%;
    }

  }
  label{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    display: none;
    & ~.places{
      display: none;
    }
    &~.places-date{
      display: block;
    }
  }
  h1 {
    margin-bottom: 30px;
  }

  .date {
    width: calc(100% - 90px);
  }

  .date {
    & + .calendar-icon {
      right: 93px;
    }
    & ~ button.visible-xs {
      position: absolute;
      right: 0px;
      top: 0;
      font-size: 26px;
      width: 60px;
      padding: 0;
    }
  }

}
.places{
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  overflow: hidden;
  li {
    float: left;
    padding: 5px;
    a {
      color: $gray;
      display: inline-block;
      line-height: 13px;
      padding: 2px 3px;
      border-bottom: 1px dotted $gray;
      @include transition(all 0.3s);
      cursor: pointer;
      text-decoration: none!important;
      &:hover, &:active, &:focus{
        border-radius: 3px;
        background: $green;
        border: 0;
        padding: 2px 3px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.btn-green{
  background: $green;
  height: 50px;
  border-radius: 0;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  &:hover{
    background: $lightgreen;
    color: #fff;
  }
}

.btn-border{
  background: #fff;
  border: 1px solid $lightgray;
  height: 50px;
  border-radius: 0;
  color: #000;
  padding-left: 30px;
  padding-right: 30px;
  &:hover,&:focus{
    background: $green;
    color: #fff;
  }
}

.btn-lg, .btn-group-lg>.btn{
  font-size: 16px;
}

.date{

  padding-right: 50px;
  &+.calendar-icon{
    position: absolute;
    top: 0px;
    right: 0;
    border: 0;
    background: 0;
    font-size: 18px;
    color: #f0f0f0;
    width: 50px;
    height: 50px;
    padding: 0px 0;
    &:before{
      @include icon();
      content: "\e902";
    }
  }

  &:focus, &.active{
    &+.calendar-icon{
      color: $green;
      &:before{
        content: "\e903";
      }
    }
  }
}


.form-horizontal{
  .form-group{
    &.success{
      position: relative;
      display: inline-block;
      width: calc(100% + 40px);
      &:after{
        @include icon();
        content: "\e908";
        color: $green;
        position: absolute;
        right: -13px;
        top: 18px;
        font-size: 12px;
      }
      .form-control{
        background: #f2fcf7;
        border-color: #bdf6d5;
        &:focus{
          background: #fff;
          border-color: $green;
        }


      }
    }

    &.error{
      position: relative;
      display: inline-block;
      width: calc(100% + 40px);
      &:after{
        content: attr(data-text);
        background: #f95454;
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;

        position: absolute;
        right: 0;
        top: 14px;
        width: 168px;
        padding: 3px 6px;
        transform: translateX(100%)
      }

      &:before{
        content: "";
        border: 4px solid transparent;
        border-right: 4px solid #f95454;
        position: absolute;
        right: 0;
        top: 21px;
      }
      .form-control{
        background: #fef4f4;
        border-color: #ffd3d3;
        &:focus{
          background: #fff;
          border-color: $green;
        }
      }
    }
  }
  label{
    text-align: right;
    font-weight: normal;
    padding-top: 15px;
    display: block;
  }
}


.ui-selectmenu-button.ui-button {
  width: 100%;
  border: 1px solid $lightgray;
  border-radius: 0;
  height: 50px;
  line-height: 36px;
  background: #fff;
  .ui-icon {
    background-image: none;
    position: relative;
    text-indent: inherit;
    margin: 11px 2px;
    &:before{
      @include icon();
      content: "\e907";
      color: $gray;
      position: absolute;
      display: block;
      z-index: 3;
      top: 4px;
      font-size: 7px;
      right: 0;
      text-indent: inherit;
    }
  }
  &:focus, .ui-selectmenu-button-open{
    outline: none;
    border-color: $green;
    .ui-icon {
      &:before{
        color: $green;
      }
    }
  }
}

.ui-selectmenu-menu{
  .ui-widget-content{
    border-radius: 0;
    border: 1px solid $lightgray;

    .ui-menu-item-wrapper {
      position: relative;
      padding: 9px 15px;
    }
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
      border: 1px solid $green;
      background: $green;
      font-weight: normal;
      color: #fff;
    }
  }
}

.checkbox{
  input{
    display: none;
    &+label{
      text-align: left;
      position: relative;
      padding-left: 50px;
      padding-top: 8px;
      &:before{
        content: "";
        background: $lightgray;
        width: 30px;
        height: 16px;
        position: absolute;
        left: 0;
        top:10px;
      }

      &:after{
        @include icon();
        content: "\e904";
        background: $gray;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        top: 10px;
        text-align: center;
        font-size: 7px;
        color: #fff;
        padding: 4px 1px;
        @include transition(all 0.3s);
      }
    }
    &:checked{
      &+label{
        &:after {
          content: "\e905";
          background: $green;
          left: 14px;
        }
      }
    }
  }
}

.toggle{
  input{
    display: none;
    &+label{
      text-align: left;
      padding-top: 15px;
      span{
        display: inline-block;
        &:last-of-type{
          position: relative;
          padding-left: 60px;
          &:before{
            content: "";
            background: $lightgray;
            width: 30px;
            height: 12px;
            border-radius: 12px;
            position: absolute;
            left: 14px;
            top: 3px;
          }

          &:after{
            content: "";
            background: $green;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: absolute;

            left: 14px;
            top: 1px;
            @include transition(all 0.3s);
          }

        }
      }

    }
    &:checked{
      &+label{
        span{
          &:last-of-type{
            &:after {
              left: 28px;
            }
          }
        }

      }
    }
  }
}

@media (max-width: 767px){
  .form-horizontal{
    label{
      text-align: left;
    }

    .form-group {
      &.success {
        &:after {
          right: 24px;
          top: inherit;
          bottom: 18px;
        }
        .form-control {
          padding-right: 50px;
        }
      }

      &.error {
        &:after {
          right: 10px;
          top: inherit;
          bottom: 34px;
          transform: translateX(0);
        }
        &:before{
          right: 70px;
          top: inherit;
          bottom: 26px;
          z-index: 2;
          border: 4px solid transparent;
          border-top: 4px solid #f95454;
        }
      }
    }
  }
}