@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ftc1at');
    src:  url('../fonts/icomoon.eot?ftc1at#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ftc1at') format('truetype'),
    url('../fonts/icomoon.woff?ftc1at') format('woff'),
    url('../fonts/icomoon.svg?ftc1at#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-114-"], [class*=" icon-114-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-114-0:before {
    content: "\e91f";
}
.icon-114-1:before {
    content: "\e916";
}
.icon-114-2:before {
    content: "\e917";
}
.icon-114-3:before {
    content: "\e918";
}
.icon-114-4:before {
    content: "\e919";
}
.icon-114-5:before {
    content: "\e91a";
}
.icon-114-6:before {
    content: "\e91b";
}
.icon-114-7:before {
    content: "\e91c";
}
.icon-114-8:before {
    content: "\e91d";
}
.icon-114-9:before {
    content: "\e91e";
}
.icon-114-down:before {
    content: "\e914";
}
.icon-114-up:before {
    content: "\e915";
}
.icon-114-arrow-down:before {
    content: "\e900";
}
.icon-114-arrow-up:before {
    content: "\e901";
}
.icon-114-calendar:before {
    content: "\e902";
}
.icon-114-calendar-full:before {
    content: "\e903";
}
.icon-114-close:before {
    content: "\e904";
}
.icon-114-check-button-ok:before {
    content: "\e905";
}
.icon-114-clock:before {
    content: "\e906";
}
.icon-114-dropdown-icon:before {
    content: "\e907";
}
.icon-114-ok-check:before {
    content: "\e908";
}
.icon-114-pagination-left:before {
    content: "\e909";
}
.icon-114-pagination-right:before {
    content: "\e90a";
}
.icon-114-read-more:before {
    content: "\e90b";
}
.icon-114-route-arrow:before {
    content: "\e90c";
}
.icon-114-search:before {
    content: "\e90d";
}
.icon-114-sidebar-link:before {
    content: "\e90e";
}
.icon-114-top:before {
    content: "\e90f";
}
.icon-114-routes:before {
    content: "\e910";
}
.icon-114-fb:before {
    content: "\e911";
}
.icon-114-tw:before {
    content: "\e912";
}
.icon-114-vk:before {
    content: "\e913";
}
