@import "jquery-ui.min.css";
@import "main";


.locality{
  text-align: left;
  color: $gray;
  font-size: 12px;
}

.table-locality{
  line-height: 21px;
  margin: 30px 0 ;
  &>tbody>tr{
    &:nth-of-type(2n) > td, &:nth-of-type(2n) > td.active{
      background: #fbfbfb;
    }
  }
  &>tbody>tr>td{
    vertical-align: top;
    border-color: #f0f0f0;
    padding: 9px 10px;
    font-size: 13px;

    p{
      margin: 0;
      &~p{
        margin-top:15px;
      }
    }
    &:last-of-type{
      text-align: right;
    }
  }

  .time {
    color: $blue;
    padding: 0px 7px;
    display: inline-block;
  }
}


@import "media";