@import "bootstrap.min.css";
@import "icons.css";
@import "colors";
@import "mixins";
@import "modal";
@import "form";


@font-face {
  font-family: 'Glyphter';
  src:  url('../fonts/Glyphter.eot?ftc1at');
  src:  url('../fonts/Glyphter.eot?ftc1at#iefix') format('embedded-opentype'),
  url('../fonts/Glyphter.ttf?ftc1at') format('truetype'),
  url('../fonts/Glyphter.woff?ftc1at') format('woff'),
  url('../fonts/Glyphter.svg?ftc1at#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



$i: 5;
@while $i < 35 {
  .top#{$i} { margin-top: $i+px; }
  $i: $i + 5;
}

$i: 13;
@while $i < 32 {
  .size#{$i} { font-size: $i+px; }
  $i: $i + 1;
}

.relative{
  position: relative;
}

.nowrap{
  white-space: nowrap;
}

a{
  color: $blue;
  &:focus{
    outline: none;
  }
}

h1, .h1{
  font-size: 27px;
  text-align: left;
  font-weight: 600;
}


h2, .h2{
  font-size: 18px;
  text-align: left;
  font-weight: 600;
}

h3, .h3{
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.text-black{
  color: #000;
}

html, body, .wrapper {
  height: 100%;
}

body{
  font-family: 'Open Sans';
  font-size: 14px;
}

body > .wrapper {
  height: auto;
  min-height: 100%;
}

.container{
  padding-left: 10px;
  padding-right: 10px;
}

.row{
  margin-left:-10px;
  margin-right:-10px;
}

[class^="col-"], [class*=" col-"]{
  padding-left: 10px;
  padding-right: 10px;
}

main {
  padding-bottom: 60px;
}

.bottom-line {
  border-bottom: 1px solid $lightgray;
}


footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear:both;
  border-top:1px solid $lightgray;
  .bottom{
    padding: 10px 0px;
    font-size: 13px;
    line-height: 40px;
  }
}

.top-menu{
  .nav>li>a{
    position: relative;
    display: block;
    padding: 17px 8px;
    border-radius: 0;
    @include transition(background 0.3s);
    &:hover,&:focus{
      background: $green;
      color: #fff;
    }
  }
}

header {

  height: 50px;
  .header-middle {
    display: inline-block;
    width: 100%;
    padding: 20px 0 25px 0;

    .logo {
      img {
        width: 150px;
        float: left;
        margin-right: 31px;
      }

      .text{
        line-height: 20px;
      }
    }

    .timer {
      display: inline-block;
      margin-top: 13px;
      font-family: 'Glyphter';
      span{
        border: 1px solid #f0f0f0;
        font-size: 20px;
        display: inline-block;
        width: 45px;
        height: 45px;
        font-weight: 100;
        text-align: center;
        line-height: 45px;
        position: relative;
        letter-spacing: -2px;
        & ~ span {
          margin-left: 8px;
        }
        &:nth-of-type(3) {
          margin-left: 18px;
        }

        &:nth-of-type(1):after {
          content: ".";
          position: absolute;
          right: -7px;
        }

        &:nth-of-type(3):after {
          content: ":";
          position: absolute;
          right: -8px;
          top: -5px;
        }
      }
    }
  }

  .mobile{
    height: 50px;
    display: inline-block;
    width: 100%;
    left: 0;
    padding: 10px 15px;
    position: fixed;
    z-index: 100;
    background: #fff;
    img{
      width: 50px;
      position: absolute;
      left: 50%;
      top:13px;
      @include transform(translateX, -50%);
    }
    .btn-link{
      padding: 0;
      &:hover, &:focus, &:active, &:focus:active, &.active{
        text-decoration: none;
        color: $green;
      }
    }
  }
}

.btn-menu{
  width: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px!important;
  span{
    display: block;
    background: #000;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    float: left;
    @include transition(all 0.5s);
    & ~ span {
      margin-top: 6px;
    }
  }
  &.active{
    span{
      &:nth-last-of-type(1){
        @include transform(rotate, -45deg);
        margin-top: -2px;
      }

      &:nth-last-of-type(3){
        @include transform(rotate, 45deg);
        margin-top: 7px;
      }
      &:nth-last-of-type(2){
        opacity: 0;
        display: none;
        height: 0;
        width: 0;
      }
    }
  }
}

.mobile-menu{
  margin-left: -100%;
  background: #fff;
  position: fixed;
  overflow: auto;
  top: 50px;
  width: 90%;
  height: calc(100% - 50px);
  z-index: 20;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

  @include transition(transform 0.5s);
  @include transform(translateX, 0%);
  .socials {
    width: 100%;
    border-top: 1px solid $lightgray;
    padding-top: 10px;
    padding-left: 13px;
  }
  .nav>li {
    & + li {
      margin: 0;
    }
  }
  .top{
    .nav>li {
      & > a {
        padding: 15px 30px;
        border-bottom: 1px solid $lightgray;
        @include transition(background 0.3s);
        &:hover, &:focus, &:active, &:focus:active, &.active {
          text-decoration: none;
          background: $green;
          color: #fff;
        }

      }
    }
  }
  .bottom{
    .nav>li {
      & > a {
        padding: 15px 30px 15px 35px;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        &:hover, &:focus, &:active, &:focus:active, &.active {
          text-decoration: none;
          background: transparent;
        }
      }
      .nav>li>a{
        color: $blue;
        padding: 7px 30px 7px 45px;
        font-weight: normal;
        text-transform: none;
        text-decoration: underline;
      }
    }
  }
}


[data-menu-dropdown]{
  &>a{
    position: relative;
    &:after{
      content: '\e90e';
      @include icon();
      position: absolute;
      right: 15px;
      top: 18px;
      @include transition(transform 0.3s);
    }
  }
  ul{
    height: 0;
    overflow: hidden;
    @include transition(height 0.3s);
  }

  &.active{
    &>a:after{
      @include transform(rotate, 90deg);
    }
    ul{ height: auto;}
  }
}
.open-menu{
  .mobile-menu{
    @include transform(translateX, 111%);
  }
}


.swiper-container {
  width: 100%;
  height: auto;
}

.routes{
  font-size: 13px;
  &>.routes>li>a {
    padding: 15px 5px;
  }
  i{
    font-size: 9px;
    padding: 0 5px;
  }
}

.top-routes{
  padding: 25px 0 45px;
  h3{
    margin-bottom: 35px;
  }
}
.about{
  padding: 30px 0 45px;

  h2{
    margin-bottom: 20px;
    text-align: left;
  }
}

.mobile-calendar{
  display: none;
}

.socials {
  font-size: 30px;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  li{
    float: left;
    a{
      color: $lightgray;
      text-decoration: none;
      @include transition(all 0.3s);
      padding: 0 15px;
      &:hover{
        color: $green;
        text-decoration: none;
      }
    }
  }
}

.menu-backdrop {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  opacity: 0.8;
}


.breadcrumb {
  background: transparent;
  font-size: 13px;
  margin-top: 20px;
  margin-left: -15px;
  margin-bottom: 20px;


  &>li+li:before {
    @include icon();
    content: "\e90c";
    font-size: 8px;
    padding: 0 12px 0 10px;
  }
}

.pagination{
  margin-bottom: 20px;
  &>li {
    display: inline-block;
    & + li {
      margin-left: 3px;
    }
    &:last-child>a, &:last-child>span,
    &:first-child>a, &:first-child>span {
      border-radius: 0;
      background: transparent;
      font-size: 30px;
      color: $lightgray;
      position: absolute;
      top:22px;
    }
    &:last-child>a, &:last-child>span{
      right: 40px;
    }
    &:first-child>a, &:first-child>span {
      left: 40px;
    }
    &:last-child>a, &:first-child>a{
      color: $green;
      &:hover{
        background: transparent;
        color: $lightgreen;
        box-shadow: none;
      }
    }
  }



  &>li>a, &>li>span {
    border: 0;
    font-size: 16px;
    width: 50px;
    height: 50px;
    color: #000;
    background: #f7f7f7;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    padding: 0;
    &.more{
      background: #fff;
    }
  }
  &>li>a:hover{
    background: $green;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  }


}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ddd;
  border: 0;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  padding: 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
  line-height: 46px;
  display: none;
  @include transition(all 0.3s);
  &.show{
    display: block;
  }
  &:hover{
    background: $green;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  }
}

.jspHorizontalBar {
  height: 9px;
  background: transparent;
  .jspTrack {
    background: $lightgray;
  }
  .jspDrag {
    background: $green;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    &:before, &:after{
      content: "";
      position: absolute;
      left: 50%;
      @include transform(translateX, -50%);

    }
    &:before{
      width: 10px;
      height: 5px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      top: 2px;
    }

    &:after{
      width: 1px;
      height: 5px;
      border-left: 1px solid #fff;
      top: 2px;
    }
  }
}

.jspVerticalBar {
  width: 7px;
  background: transparent;
  .jspTrack{
    width: 5px;
    background: $lightgray
  }
  .jspDrag {
    background: #00ba4e;
    width: 7px;
    position: relative;
    top: 0;
    left: -1px;
    cursor: pointer;
    border-radius: 3px;
  }
}

.sliding{
  position: absolute;
  top: 0px;
  padding: 11px 15px;
  color: $green;
  text-decoration: none;
  opacity:1;

  &.disabled{
    color: $gray;
    opacity:0.5;
    cursor: default;
    &:hover, &:active, &:focus{
      color: $gray;
      opacity:0.5;
    }
  }
  &:hover, &:active, &:focus{
    color: $lightgreen;
    text-decoration: none;
  }

  &:first-of-type{
    right: 110px;
  }
  &:last-of-type{
    right: 0px;

  }
}
