@media (min-width: 1140px) {

  main {
    padding-bottom: 200px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .row{
    margin-left:-20px;
    margin-right:-20px;
  }

  [class^="col-"], [class*=" col-"]{
    padding-left: 20px;
    padding-right: 20px;
  }


  header{
    height: 162px;
  }

  footer {
    margin-top: -150px;
    height: 150px;
    border: 0;
    .bottom{
      padding: 30px 0px;
    }
  }
}


@media (min-width: 992px) {
  .modal-lg {
    width: 640px;
  }
}
@media (min-width: 768px) {


  h1, .h1{
    font-size: 36px;
    line-height: 56px;
    font-weight: 600;
    text-align: center;
  }


  h2, .h2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
  }

  h3, .h3{
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    text-align: center;
  }


  .top-routes {
    padding: 55px 0 35px;

  }
  .about {
    padding: 70px 0 75px;
  }

  .form-route {
    padding: 60px 0 90px 0;


    &.hidden-xs {
      padding-bottom: 10px;
    }

    .date {
      width: 100%;
    }

    .date {
      & + .calendar-icon {
        right: 3px;
      }
    }

    .btn-replace {
      display: block;
      right: 10px;
      & + .form-control {
        width: calc(100% - 50px);
      }

    }
    label{
      display: block;
      &~.places{
        display: block;
      }
    }

    h1{
      margin-bottom: 63px;
    }
  }


  .form-control{
    &::-webkit-input-placeholder {color:transparent;}
    &::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
    &:-moz-placeholder           {color:transparent;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:transparent;}
  }

  .breadcrumb {
    margin-top: 20px;
    margin-left: -15px;
    margin-bottom: 20px;
  }

  .posts {
    margin-bottom: 60px;
    .item {
      .title {
        font-size: 18px;
        line-height: 24px;
        height: auto;
      }
      .date{
        margin-top:15px;
      }
      &~.item{
        margin-top:40px;
      }
    }
  }


  .pagination, article{
    margin-bottom: 100px;
  }


  article{
    h1, .h1 {
      font-size: 36px;
    }

    h2, .h2{
      line-height: 36px;
    }

    h3, .h3{
      line-height: 27px;
    }

    .info{
      margin: 40px auto;
      .center-block{
        @include center();
      }
    }
  }

  .locality{
    text-align: center;
  }


  .table-locality{
    margin: 40px 0 100px 0;
    &>tbody>tr>td{

      vertical-align: middle;
      font-size: 14px;
      padding: 15px 20px;
      &:last-of-type{
        text-align: left;
      }
    }
    p{
      margin: 0;
      &~p{
        margin-top:5px;
      }
    }
  }

}


@media (max-width: 767px){
  .scroll-pane{
    margin-left: -10px;
    margin-right: -10px;
  }

  .sort{
    display: inline-block;
  }

  .sort-big{
    display: none;
    overflow: hidden;
  }

  .table-slide {
    & > tbody > tr > td,
    & > thead > tr > th{
      display: none;
      text-align: center;
      &.sorting{
        color: #000;
        border-color: #000;
      }

      &.th{
        text-align: left;
        padding-left: 42px;
        width:150px;

        .icon-114-clock{
          display: none;
        }
        span{
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 50px;
        }
      }
      &.th:first-of-type{
        border-right: 0;
        text-align: left;
        padding-left: 15px;
        width:auto;
      }
      &:first-of-type{
        border-right: 1px solid #d9d9d9;

      }
      &:first-of-type,&.active{
        display: table-cell;
      }
    }
  }

  .modal-content button.close {
    right: 21px;
    color: #999;
    font-size: 16px;
    top: 19px;
    z-index: 2;
    &:hover:after{
      content: none;
    }
  }
}

@media (max-width: (500px)) {




}