@mixin transform($name, $value){
  -webkit-transform: $name + '(' + $value + ')';
  -o-transform: $name + '(' + $value + ')';
  -moz-transform: $name + '(' + $value + ')';
  transform: $name + '(' + $value + ')';
}


@mixin transition($value){
  -webkit-transition: $value;
  -o-transition: $value;
  -moz-transition: $value;
  transition:$value;
}

@mixin arrow(){
  &:before {
    content: "";
    background: url("../img/arrow.png");
    width: 22px;
    height: 12px;
    position: absolute;
    left: 50%;
    @include transform(translateX, -50%);
    top: -7px;
  }

}



@mixin center(){

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin icon(){
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin animation(){
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}