.modal-open .wrapper, .modal-open footer {
  filter: blur(10px);
}

.modal-content {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  .h2{
    margin-bottom: 10px;
  }

  &:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    border: 6px solid $green;
    width: 100%;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  label{
    font-weight: normal;
    padding-top:15px;
  }
  button.close {
    position: absolute;
    right: -90px;
    top: 10px;
    font-size: 23px;
    text-shadow: none;
    color: #fff;

    font-weight: normal;
    &:hover{
      opacity: 1;
      &:after {
        content: attr(data-close);
        position: absolute;
        left: 50%;
        font-size: 10px;
        text-transform: uppercase;
        bottom: -28px;
        transform: translateX(-50%);
      }
    }
  }
}

.modal-body {
  position: relative;
  padding: 30px;
}


@media (min-width: 768px) {
  .modal-body {
    position: relative;
    padding: 50px 100px;
  }

  .modal-content {
    .h2 {
      margin-bottom: 50px;
    }
  }
}