@import "bootstrap.min.css";
@import "jquery.jscrollpane.css";
@import "main";

article{
  margin-bottom: 30px;
  line-height: 21px;

  .text {
    ul, ol {
      margin: 20px 0;
      list-style-type: none;
      li{
        padding: 10px 0;
        position: relative;
      }
    }
    ul li:before{
      content: "";
      background: $green;
      width:7px;
      height: 7px;
      border-radius: 50%;
      position: absolute;
      left: -26px;
      top: 18px;
    }

    ol{
      counter-reset: counter;
      li:before {
        content: counter(counter);
        counter-increment: counter;
        position: absolute;
        left: -26px;
        top: 10px;
        font-weight: 600;
      }
    }
  }

  h1, .h1 {
    font-size: 22px;
  }
  h2,h3{
    text-align: left;
    line-height: 27px;
  }

  h3{
    line-height: 24px;
  }
  .info{
    display: inline-block;
    color: $gray;
    font-size: 12px;
    width: 100%;
    margin: 20px auto;
    .center-block{
      @include center();
      text-align: left;
      -webkit-justify-content: inherit;
      justify-content: inherit;
    }
    .date{
      padding-right: 30px;
    }
  }

  .socials {
    margin-left: 10px;
    li a {
      padding: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid;
      display: inline-block;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      margin: 0 3px;
      &:hover{
        border-color: $green;
        background: $green;
        color: #fff;
      }
    }
  }

  p {
    margin: 0 0 15px;
  }


  .table{
    &>tbody>tr>th{
      background: $green;
      color: #fff;
      font-size: 11px;
      text-transform: uppercase;
      border-color: #01a847!important;
      font-weight: 600;
      padding: 12px 15px;
      white-space: nowrap;
    }
    &>tbody>tr>td {
      padding: 20px 15px;
      border-color: $lightgray;
    }
  }

  .scroll-pane{
    height: auto;
    max-height: 800px;
  }

}

@import "media";