

@import "main";
@import "aside";


.posts{
  margin-bottom: 30px;
  .item{
    .title{
      display: block;
      font-size: 14px;
      line-height: 20px;
      height: 60px;
      overflow: hidden;
    }
    .description{
      margin: 15px 0;
      line-height: 20px;
      max-height: 60px;
      text-overflow: ellipsis;
      overflow: hidden;

    }

    .date{
      font-size: 11px;
      margin-top:5px;
    }
    img{
      max-width: 100%;
    }
    &~.item{
      margin-top:20px;
    }
  }
}



@import "media";