@charset "UTF-8";
@import url(jquery-ui.min.css);
@import url(jquery.jscrollpane.css);
@import url(bootstrap.min.css);
@import url(icons.css);
.modal-open .wrapper, .modal-open footer {
  filter: blur(10px); }

.modal-content {
  box-shadow: none;
  border: 0;
  border-radius: 0; }
  .modal-content .h2 {
    margin-bottom: 10px; }
  .modal-content:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    border: 6px solid #00ba4e;
    width: 100%;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }
  .modal-content label {
    font-weight: normal;
    padding-top: 15px; }
  .modal-content button.close {
    position: absolute;
    right: -90px;
    top: 10px;
    font-size: 23px;
    text-shadow: none;
    color: #fff;
    font-weight: normal; }
    .modal-content button.close:hover {
      opacity: 1; }
      .modal-content button.close:hover:after {
        content: attr(data-close);
        position: absolute;
        left: 50%;
        font-size: 10px;
        text-transform: uppercase;
        bottom: -28px;
        transform: translateX(-50%); }

.modal-body {
  position: relative;
  padding: 30px; }

@media (min-width: 768px) {
  .modal-body {
    position: relative;
    padding: 50px 100px; }

  .modal-content .h2 {
    margin-bottom: 50px; } }
input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

button:focus, button:active, input:focus, input:active, textarea:focus, textarea:active, .btn:focus, .btn:active {
  outline: none; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none; }

.form-control, .date[readonly] {
  height: 50px;
  border: 1px solid #f0f0f0;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  background: #fff;
  -webkit-appearance: none;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  .form-control:focus, .form-control:active, .form-control.active, .date[readonly]:focus, .date[readonly]:active, .date[readonly].active {
    box-shadow: none;
    outline: none;
    border-color: #00ba4e;
    background: #fff; }
  .form-control::-webkit-input-placeholder, .date[readonly]::-webkit-input-placeholder {
    color: #000; }
  .form-control::-moz-placeholder, .date[readonly]::-moz-placeholder {
    color: #000; }
  .form-control:-moz-placeholder, .date[readonly]:-moz-placeholder {
    color: #000; }
  .form-control:-ms-input-placeholder, .date[readonly]:-ms-input-placeholder {
    color: #000; }

.form-route {
  padding: 20px 0 50px 0; }
  .form-route .btn-replace {
    border: 0;
    background: transparent;
    color: #f0f0f0;
    position: absolute;
    right: 5px;
    display: none;
    bottom: 44px;
    font-size: 34px;
    padding: 0; }
    .form-route .btn-replace:hover, .form-route .btn-replace:active {
      color: #00ba4e; }
    .form-route .btn-replace + .form-control {
      width: 100%; }
  .form-route label {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    display: none; }
    .form-route label ~ .places {
      display: none; }
    .form-route label ~ .places-date {
      display: block; }
  .form-route h1 {
    margin-bottom: 30px; }
  .form-route .date {
    width: calc(100% - 90px); }
  .form-route .date + .calendar-icon {
    right: 93px; }
  .form-route .date ~ button.visible-xs {
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 26px;
    width: 60px;
    padding: 0; }

.places {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  overflow: hidden; }
  .places li {
    float: left;
    padding: 5px; }
    .places li a {
      color: #999999;
      display: inline-block;
      line-height: 13px;
      padding: 2px 3px;
      border-bottom: 1px dotted #999999;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      cursor: pointer;
      text-decoration: none !important; }
      .places li a:hover, .places li a:active, .places li a:focus {
        border-radius: 3px;
        background: #00ba4e;
        border: 0;
        padding: 2px 3px;
        color: #fff;
        text-decoration: none; }

.btn-green {
  background: #00ba4e;
  height: 50px;
  border-radius: 0;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px; }
  .btn-green:hover {
    background: #00c853;
    color: #fff; }

.btn-border {
  background: #fff;
  border: 1px solid #f0f0f0;
  height: 50px;
  border-radius: 0;
  color: #000;
  padding-left: 30px;
  padding-right: 30px; }
  .btn-border:hover, .btn-border:focus {
    background: #00ba4e;
    color: #fff; }

.btn-lg, .btn-group-lg > .btn {
  font-size: 16px; }

.date {
  padding-right: 50px; }
  .date + .calendar-icon {
    position: absolute;
    top: 0px;
    right: 0;
    border: 0;
    background: 0;
    font-size: 18px;
    color: #f0f0f0;
    width: 50px;
    height: 50px;
    padding: 0px 0; }
    .date + .calendar-icon:before {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e902"; }
  .date:focus + .calendar-icon, .date.active + .calendar-icon {
    color: #00ba4e; }
    .date:focus + .calendar-icon:before, .date.active + .calendar-icon:before {
      content: "\e903"; }

.form-horizontal .form-group.success {
  position: relative;
  display: inline-block;
  width: calc(100% + 40px); }
  .form-horizontal .form-group.success:after {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e908";
    color: #00ba4e;
    position: absolute;
    right: -13px;
    top: 18px;
    font-size: 12px; }
  .form-horizontal .form-group.success .form-control {
    background: #f2fcf7;
    border-color: #bdf6d5; }
    .form-horizontal .form-group.success .form-control:focus {
      background: #fff;
      border-color: #00ba4e; }
.form-horizontal .form-group.error {
  position: relative;
  display: inline-block;
  width: calc(100% + 40px); }
  .form-horizontal .form-group.error:after {
    content: attr(data-text);
    background: #f95454;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 14px;
    width: 168px;
    padding: 3px 6px;
    transform: translateX(100%); }
  .form-horizontal .form-group.error:before {
    content: "";
    border: 4px solid transparent;
    border-right: 4px solid #f95454;
    position: absolute;
    right: 0;
    top: 21px; }
  .form-horizontal .form-group.error .form-control {
    background: #fef4f4;
    border-color: #ffd3d3; }
    .form-horizontal .form-group.error .form-control:focus {
      background: #fff;
      border-color: #00ba4e; }
.form-horizontal label {
  text-align: right;
  font-weight: normal;
  padding-top: 15px;
  display: block; }

.ui-selectmenu-button.ui-button {
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 0;
  height: 50px;
  line-height: 36px;
  background: #fff; }
  .ui-selectmenu-button.ui-button .ui-icon {
    background-image: none;
    position: relative;
    text-indent: inherit;
    margin: 11px 2px; }
    .ui-selectmenu-button.ui-button .ui-icon:before {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e907";
      color: #999999;
      position: absolute;
      display: block;
      z-index: 3;
      top: 4px;
      font-size: 7px;
      right: 0;
      text-indent: inherit; }
  .ui-selectmenu-button.ui-button:focus, .ui-selectmenu-button.ui-button .ui-selectmenu-button-open {
    outline: none;
    border-color: #00ba4e; }
    .ui-selectmenu-button.ui-button:focus .ui-icon:before, .ui-selectmenu-button.ui-button .ui-selectmenu-button-open .ui-icon:before {
      color: #00ba4e; }

.ui-selectmenu-menu .ui-widget-content {
  border-radius: 0;
  border: 1px solid #f0f0f0; }
  .ui-selectmenu-menu .ui-widget-content .ui-menu-item-wrapper {
    position: relative;
    padding: 9px 15px; }
  .ui-selectmenu-menu .ui-widget-content .ui-state-active, .ui-selectmenu-menu .ui-widget-content .ui-widget-content .ui-state-active, .ui-selectmenu-menu .ui-widget-content .ui-widget-header .ui-state-active, .ui-selectmenu-menu .ui-widget-content a.ui-button:active, .ui-selectmenu-menu .ui-widget-content .ui-button:active, .ui-selectmenu-menu .ui-widget-content .ui-button.ui-state-active:hover {
    border: 1px solid #00ba4e;
    background: #00ba4e;
    font-weight: normal;
    color: #fff; }

.checkbox input {
  display: none; }
  .checkbox input + label {
    text-align: left;
    position: relative;
    padding-left: 50px;
    padding-top: 8px; }
    .checkbox input + label:before {
      content: "";
      background: #f0f0f0;
      width: 30px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 10px; }
    .checkbox input + label:after {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e904";
      background: #999999;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 10px;
      text-align: center;
      font-size: 7px;
      color: #fff;
      padding: 4px 1px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
  .checkbox input:checked + label:after {
    content: "\e905";
    background: #00ba4e;
    left: 14px; }

.toggle input {
  display: none; }
  .toggle input + label {
    text-align: left;
    padding-top: 15px; }
    .toggle input + label span {
      display: inline-block; }
      .toggle input + label span:last-of-type {
        position: relative;
        padding-left: 60px; }
        .toggle input + label span:last-of-type:before {
          content: "";
          background: #f0f0f0;
          width: 30px;
          height: 12px;
          border-radius: 12px;
          position: absolute;
          left: 14px;
          top: 3px; }
        .toggle input + label span:last-of-type:after {
          content: "";
          background: #00ba4e;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          position: absolute;
          left: 14px;
          top: 1px;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
  .toggle input:checked + label span:last-of-type:after {
    left: 28px; }

@media (max-width: 767px) {
  .form-horizontal label {
    text-align: left; }
  .form-horizontal .form-group.success:after {
    right: 24px;
    top: inherit;
    bottom: 18px; }
  .form-horizontal .form-group.success .form-control {
    padding-right: 50px; }
  .form-horizontal .form-group.error:after {
    right: 10px;
    top: inherit;
    bottom: 34px;
    transform: translateX(0); }
  .form-horizontal .form-group.error:before {
    right: 70px;
    top: inherit;
    bottom: 26px;
    z-index: 2;
    border: 4px solid transparent;
    border-top: 4px solid #f95454; } }
@font-face {
  font-family: 'Glyphter';
  src: url("../fonts/Glyphter.eot?ftc1at");
  src: url("../fonts/Glyphter.eot?ftc1at#iefix") format("embedded-opentype"), url("../fonts/Glyphter.ttf?ftc1at") format("truetype"), url("../fonts/Glyphter.woff?ftc1at") format("woff"), url("../fonts/Glyphter.svg?ftc1at#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.top5 {
  margin-top: 5px; }

.top10 {
  margin-top: 10px; }

.top15 {
  margin-top: 15px; }

.top20 {
  margin-top: 20px; }

.top25 {
  margin-top: 25px; }

.top30 {
  margin-top: 30px; }

.size13 {
  font-size: 13px; }

.size14 {
  font-size: 14px; }

.size15 {
  font-size: 15px; }

.size16 {
  font-size: 16px; }

.size17 {
  font-size: 17px; }

.size18 {
  font-size: 18px; }

.size19 {
  font-size: 19px; }

.size20 {
  font-size: 20px; }

.size21 {
  font-size: 21px; }

.size22 {
  font-size: 22px; }

.size23 {
  font-size: 23px; }

.size24 {
  font-size: 24px; }

.size25 {
  font-size: 25px; }

.size26 {
  font-size: 26px; }

.size27 {
  font-size: 27px; }

.size28 {
  font-size: 28px; }

.size29 {
  font-size: 29px; }

.size30 {
  font-size: 30px; }

.size31 {
  font-size: 31px; }

.relative {
  position: relative; }

.nowrap {
  white-space: nowrap; }

a {
  color: #2e4f9d; }
  a:focus {
    outline: none; }

h1, .h1 {
  font-size: 27px;
  text-align: left;
  font-weight: 600; }

h2, .h2 {
  font-size: 18px;
  text-align: left;
  font-weight: 600; }

h3, .h3 {
  font-size: 16px;
  font-weight: 600;
  text-align: left; }

.text-black {
  color: #000; }

html, body, .wrapper {
  height: 100%; }

body {
  font-family: 'Open Sans';
  font-size: 14px; }

body > .wrapper {
  height: auto;
  min-height: 100%; }

.container {
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

[class^="col-"], [class*=" col-"] {
  padding-left: 10px;
  padding-right: 10px; }

main {
  padding-bottom: 60px; }

.bottom-line {
  border-bottom: 1px solid #f0f0f0; }

footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
  border-top: 1px solid #f0f0f0; }
  footer .bottom {
    padding: 10px 0px;
    font-size: 13px;
    line-height: 40px; }

.top-menu .nav > li > a {
  position: relative;
  display: block;
  padding: 17px 8px;
  border-radius: 0;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s; }
  .top-menu .nav > li > a:hover, .top-menu .nav > li > a:focus {
    background: #00ba4e;
    color: #fff; }

header {
  height: 50px; }
  header .header-middle {
    display: inline-block;
    width: 100%;
    padding: 20px 0 25px 0; }
    header .header-middle .logo img {
      width: 150px;
      float: left;
      margin-right: 31px; }
    header .header-middle .logo .text {
      line-height: 20px; }
    header .header-middle .timer {
      display: inline-block;
      margin-top: 13px;
      font-family: 'Glyphter'; }
      header .header-middle .timer span {
        border: 1px solid #f0f0f0;
        font-size: 20px;
        display: inline-block;
        width: 45px;
        height: 45px;
        font-weight: 100;
        text-align: center;
        line-height: 45px;
        position: relative;
        letter-spacing: -2px; }
        header .header-middle .timer span ~ span {
          margin-left: 8px; }
        header .header-middle .timer span:nth-of-type(3) {
          margin-left: 18px; }
        header .header-middle .timer span:nth-of-type(1):after {
          content: ".";
          position: absolute;
          right: -7px; }
        header .header-middle .timer span:nth-of-type(3):after {
          content: ":";
          position: absolute;
          right: -8px;
          top: -5px; }
  header .mobile {
    height: 50px;
    display: inline-block;
    width: 100%;
    left: 0;
    padding: 10px 15px;
    position: fixed;
    z-index: 100;
    background: #fff; }
    header .mobile img {
      width: 50px;
      position: absolute;
      left: 50%;
      top: 13px;
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%); }
    header .mobile .btn-link {
      padding: 0; }
      header .mobile .btn-link:hover, header .mobile .btn-link:focus, header .mobile .btn-link:active, header .mobile .btn-link:focus:active, header .mobile .btn-link.active {
        text-decoration: none;
        color: #00ba4e; }

.btn-menu {
  width: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px !important; }
  .btn-menu span {
    display: block;
    background: #000;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    float: left;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
    .btn-menu span ~ span {
      margin-top: 6px; }
  .btn-menu.active span:nth-last-of-type(1) {
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -2px; }
  .btn-menu.active span:nth-last-of-type(3) {
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 7px; }
  .btn-menu.active span:nth-last-of-type(2) {
    opacity: 0;
    display: none;
    height: 0;
    width: 0; }

.mobile-menu {
  margin-left: -100%;
  background: #fff;
  position: fixed;
  overflow: auto;
  top: 50px;
  width: 90%;
  height: calc(100% - 50px);
  z-index: 20;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translateX(0%);
  -o-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%); }
  .mobile-menu .socials {
    width: 100%;
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
    padding-left: 13px; }
  .mobile-menu .nav > li + li {
    margin: 0; }
  .mobile-menu .top .nav > li > a {
    padding: 15px 30px;
    border-bottom: 1px solid #f0f0f0;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s; }
    .mobile-menu .top .nav > li > a:hover, .mobile-menu .top .nav > li > a:focus, .mobile-menu .top .nav > li > a:active, .mobile-menu .top .nav > li > a:focus:active, .mobile-menu .top .nav > li > a.active {
      text-decoration: none;
      background: #00ba4e;
      color: #fff; }
  .mobile-menu .bottom .nav > li > a {
    padding: 15px 30px 15px 35px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600; }
    .mobile-menu .bottom .nav > li > a:hover, .mobile-menu .bottom .nav > li > a:focus, .mobile-menu .bottom .nav > li > a:active, .mobile-menu .bottom .nav > li > a:focus:active, .mobile-menu .bottom .nav > li > a.active {
      text-decoration: none;
      background: transparent; }
  .mobile-menu .bottom .nav > li .nav > li > a {
    color: #2e4f9d;
    padding: 7px 30px 7px 45px;
    font-weight: normal;
    text-transform: none;
    text-decoration: underline; }

[data-menu-dropdown] > a {
  position: relative; }
  [data-menu-dropdown] > a:after {
    content: '\e90e';
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 15px;
    top: 18px;
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    transition: transform 0.3s; }
[data-menu-dropdown] ul {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s; }
[data-menu-dropdown].active > a:after {
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg); }
[data-menu-dropdown].active ul {
  height: auto; }

.open-menu .mobile-menu {
  -webkit-transform: translateX(111%);
  -o-transform: translateX(111%);
  -moz-transform: translateX(111%);
  transform: translateX(111%); }

.swiper-container {
  width: 100%;
  height: auto; }

.routes {
  font-size: 13px; }
  .routes > .routes > li > a {
    padding: 15px 5px; }
  .routes i {
    font-size: 9px;
    padding: 0 5px; }

.top-routes {
  padding: 25px 0 45px; }
  .top-routes h3 {
    margin-bottom: 35px; }

.about {
  padding: 30px 0 45px; }
  .about h2 {
    margin-bottom: 20px;
    text-align: left; }

.mobile-calendar {
  display: none; }

.socials {
  font-size: 30px;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .socials li {
    float: left; }
    .socials li a {
      color: #f0f0f0;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      padding: 0 15px; }
      .socials li a:hover {
        color: #00ba4e;
        text-decoration: none; }

.menu-backdrop {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  opacity: 0.8; }

.breadcrumb {
  background: transparent;
  font-size: 13px;
  margin-top: 20px;
  margin-left: -15px;
  margin-bottom: 20px; }
  .breadcrumb > li + li:before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e90c";
    font-size: 8px;
    padding: 0 12px 0 10px; }

.pagination {
  margin-bottom: 20px; }
  .pagination > li {
    display: inline-block; }
    .pagination > li + li {
      margin-left: 3px; }
    .pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span {
      border-radius: 0;
      background: transparent;
      font-size: 30px;
      color: #f0f0f0;
      position: absolute;
      top: 22px; }
    .pagination > li:last-child > a, .pagination > li:last-child > span {
      right: 40px; }
    .pagination > li:first-child > a, .pagination > li:first-child > span {
      left: 40px; }
    .pagination > li:last-child > a, .pagination > li:first-child > a {
      color: #00ba4e; }
      .pagination > li:last-child > a:hover, .pagination > li:first-child > a:hover {
        background: transparent;
        color: #00c853;
        box-shadow: none; }
  .pagination > li > a, .pagination > li > span {
    border: 0;
    font-size: 16px;
    width: 50px;
    height: 50px;
    color: #000;
    background: #f7f7f7;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    padding: 0; }
    .pagination > li > a.more, .pagination > li > span.more {
      background: #fff; }
  .pagination > li > a:hover {
    background: #00ba4e;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ddd;
  border: 0;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  padding: 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
  line-height: 46px;
  display: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .up.show {
    display: block; }
  .up:hover {
    background: #00ba4e;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }

.jspHorizontalBar {
  height: 9px;
  background: transparent; }
  .jspHorizontalBar .jspTrack {
    background: #f0f0f0; }
  .jspHorizontalBar .jspDrag {
    background: #00ba4e;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
    .jspHorizontalBar .jspDrag:before, .jspHorizontalBar .jspDrag:after {
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%); }
    .jspHorizontalBar .jspDrag:before {
      width: 10px;
      height: 5px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      top: 2px; }
    .jspHorizontalBar .jspDrag:after {
      width: 1px;
      height: 5px;
      border-left: 1px solid #fff;
      top: 2px; }

.jspVerticalBar {
  width: 7px;
  background: transparent; }
  .jspVerticalBar .jspTrack {
    width: 5px;
    background: #f0f0f0; }
  .jspVerticalBar .jspDrag {
    background: #00ba4e;
    width: 7px;
    position: relative;
    top: 0;
    left: -1px;
    cursor: pointer;
    border-radius: 3px; }

.sliding {
  position: absolute;
  top: 0px;
  padding: 11px 15px;
  color: #00ba4e;
  text-decoration: none;
  opacity: 1; }
  .sliding.disabled {
    color: #999999;
    opacity: 0.5;
    cursor: default; }
    .sliding.disabled:hover, .sliding.disabled:active, .sliding.disabled:focus {
      color: #999999;
      opacity: 0.5; }
  .sliding:hover, .sliding:active, .sliding:focus {
    color: #00c853;
    text-decoration: none; }
  .sliding:first-of-type {
    right: 110px; }
  .sliding:last-of-type {
    right: 0px; }

.ui-datepicker.ui-datepicker-multi {
  font-family: 'Open Sans';
  height: 465px;
  width: 310px !important;
  border-radius: 0;
  padding: 0;
  border: 1px solid #f0f0f0;
  margin-top: 8px;
  z-index: 2 !important; }
  .ui-datepicker.ui-datepicker-multi:before {
    content: "";
    background: url("../img/arrow.png");
    width: 22px;
    height: 12px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -7px; }
  .ui-datepicker.ui-datepicker-multi .ui-calendar-head {
    height: 30px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #f0f0f0; }
  .ui-datepicker.ui-datepicker-multi .ui-calendar-sidebar {
    width: 83px;
    float: left;
    font-size: 13px; }
    .ui-datepicker.ui-datepicker-multi .ui-calendar-sidebar ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .ui-datepicker.ui-datepicker-multi .ui-calendar-sidebar ul li {
        padding: 9px 13px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
        .ui-datepicker.ui-datepicker-multi .ui-calendar-sidebar ul li.active {
          background: #00ba4e;
          color: #fff; }
  .ui-datepicker.ui-datepicker-multi table.ui-calendar-weeks {
    position: absolute;
    top: 30px;
    width: 185px;
    right: 23px;
    font-weight: 600;
    font-family: 'Open Sans';
    background: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 50px 0px; }
    .ui-datepicker.ui-datepicker-multi table.ui-calendar-weeks th {
      padding-top: 15px; }
  .ui-datepicker.ui-datepicker-multi .ui-calendar-list {
    width: 225px;
    float: left;
    border-left: 1px solid #f0f0f0;
    padding: 40px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    height: calc(100% - 30px); }
    .ui-datepicker.ui-datepicker-multi .ui-calendar-list .scroll-pane {
      overflow: auto;
      height: 100%; }
    .ui-datepicker.ui-datepicker-multi .ui-calendar-list .ui-state-active {
      color: #00ba4e; }
  .ui-datepicker.ui-datepicker-multi .ui-state-default, .ui-datepicker.ui-datepicker-multi .ui-widget-content .ui-state-default {
    border: 0;
    background: transparent;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .ui-datepicker.ui-datepicker-multi .ui-state-default:hover, .ui-datepicker.ui-datepicker-multi .ui-widget-content .ui-state-default:hover {
      background: #00ba4e;
      color: #fff; }
  .ui-datepicker.ui-datepicker-multi .ui-datepicker-group {
    width: 100%; }
    .ui-datepicker.ui-datepicker-multi .ui-datepicker-group .ui-datepicker-header {
      background: transparent;
      border: 0;
      color: #999999;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      font-family: 'Open Sans';
      padding: 22px 0px 10px 0px; }
      .ui-datepicker.ui-datepicker-multi .ui-datepicker-group .ui-datepicker-header .ui-datepicker-year {
        display: none; }
    .ui-datepicker.ui-datepicker-multi .ui-datepicker-group .ui-datepicker-calendar thead {
      display: none; }

.datepicker-backdrop {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }

@media (max-width: 1139px) {
  .datepicker-backdrop {
    filter: alpha(opacity=50);
    background-color: #000;
    opacity: 0.5;
    z-index: 1000; }

  .ui-datepicker.ui-datepicker-multi {
    border: 0px solid #00ba4e;
    position: fixed !important;
    top: 20px !important;
    left: 50% !important;
    z-index: 1002 !important;
    padding-top: 60px;
    height: 525px;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%); }
    .ui-datepicker.ui-datepicker-multi table.ui-calendar-weeks {
      position: absolute;
      top: 90px;
      width: 207px;
      right: 15px; }
    .ui-datepicker.ui-datepicker-multi:before {
      content: "Выбрать дату поездки!";
      background: none;
      width: 100%;
      padding: 13px 20px;
      display: block;
      color: #000000;
      font-size: 12px;
      border-bottom: 1px solid #f0f0f0;
      height: auto;
      line-height: 28px;
      margin-top: 10px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .ui-datepicker.ui-datepicker-multi:after {
      content: "";
      position: absolute;
      top: -16px;
      left: 0;
      border: 6px solid #00ba4e;
      width: 100%;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      display: block; } }
.ui-widget.ui-autocomplete {
  border: 1px solid #f0f0f0;
  font-size: 13px;
  font-family: 'Open Sans';
  margin-top: 8px;
  -webkit-transform: translateY(15px);
  -o-transform: translateY(15px);
  -moz-transform: translateY(15px);
  transform: translateY(15px); }
  .ui-widget.ui-autocomplete:before {
    content: "";
    background: url("../img/arrow.png");
    width: 22px;
    height: 12px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -7px; }
  .ui-widget.ui-autocomplete .ui-menu-item-wrapper {
    padding: 6px 13px;
    border: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .ui-widget.ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
      padding: 6px 13px;
      background: #00ba4e;
      border: 0;
      margin: 0; }

.sort {
  display: none;
  position: relative;
  width: 20px;
  height: 0px;
  font-size: 4px;
  margin-right: 18px;
  color: #999;
  padding-left: 4px; }
  .sort .icon-114-up {
    position: absolute;
    top: -14px; }
  .sort .icon-114-down {
    position: absolute;
    top: -7px; }
  .sort i.active {
    color: #00ba4e; }

.sort-big {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 0px;
  font-size: 10px;
  margin-right: 18px;
  color: #00ba4e;
  padding-left: 4px; }
  .sort-big.active + span {
    color: #00ba4e;
    border-color: #00ba4e; }
  .sort-big .icon-114-arrow-up {
    position: absolute;
    top: -9px;
    display: none; }
  .sort-big .icon-114-arrow-down {
    position: absolute;
    top: -7px;
    display: none; }
  .sort-big i.active {
    display: inline; }

.table-results > tbody > tr > td, .table-results > thead > tr > th {
  border: 0;
  background: #f7f7f7;
  padding: 12px 15px;
  border-top: 10px solid #fff;
  text-align: right; }
  .table-results > tbody > tr > td.sorting, .table-results > thead > tr > th.sorting {
    color: #00ba4e;
    border-color: #00ba4e;
    white-space: nowrap; }
  .table-results > tbody > tr > td.active, .table-results > thead > tr > th.active {
    background: #f7f7f7; }
  .table-results > tbody > tr > td a:hover, .table-results > thead > tr > th a:hover {
    text-decoration: none;
    color: #d7582c; }
  .table-results > tbody > tr > td .icon-114-route-arrow, .table-results > thead > tr > th .icon-114-route-arrow {
    font-size: 7px;
    padding: 0 7px 0 5px; }
  .table-results > tbody > tr > td:nth-of-type(2), .table-results > tbody > tr > td:nth-of-type(3), .table-results > thead > tr > th:nth-of-type(2), .table-results > thead > tr > th:nth-of-type(3) {
    font-weight: 600; }
  .table-results > tbody > tr > td:first-of-type, .table-results > thead > tr > th:first-of-type {
    text-align: left; }
  .table-results > tbody > tr > td.th, .table-results > thead > tr > th.th {
    background: transparent;
    border: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600; }
    .table-results > tbody > tr > td.th span, .table-results > thead > tr > th.th span {
      display: inline-block;
      border-bottom: 1px dotted;
      cursor: pointer; }

@media (min-width: 1140px) {
  main {
    padding-bottom: 200px; }

  .container {
    padding-left: 20px;
    padding-right: 20px; }

  .row {
    margin-left: -20px;
    margin-right: -20px; }

  [class^="col-"], [class*=" col-"] {
    padding-left: 20px;
    padding-right: 20px; }

  header {
    height: 162px; }

  footer {
    margin-top: -150px;
    height: 150px;
    border: 0; }
    footer .bottom {
      padding: 30px 0px; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 640px; } }
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 36px;
    line-height: 56px;
    font-weight: 600;
    text-align: center; }

  h2, .h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    text-align: center; }

  h3, .h3 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    text-align: center; }

  .top-routes {
    padding: 55px 0 35px; }

  .about {
    padding: 70px 0 75px; }

  .form-route {
    padding: 60px 0 90px 0; }
    .form-route.hidden-xs {
      padding-bottom: 10px; }
    .form-route .date {
      width: 100%; }
    .form-route .date + .calendar-icon {
      right: 3px; }
    .form-route .btn-replace {
      display: block;
      right: 10px; }
      .form-route .btn-replace + .form-control {
        width: calc(100% - 50px); }
    .form-route label {
      display: block; }
      .form-route label ~ .places {
        display: block; }
    .form-route h1 {
      margin-bottom: 63px; }

  .form-control {
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .form-control::-webkit-input-placeholder {
      color: transparent; }
    .form-control::-moz-placeholder {
      color: transparent; }
    .form-control:-moz-placeholder {
      color: transparent; }
    .form-control:-ms-input-placeholder {
      color: transparent; }

  .breadcrumb {
    margin-top: 20px;
    margin-left: -15px;
    margin-bottom: 20px; }

  .posts {
    margin-bottom: 60px; }
    .posts .item .title {
      font-size: 18px;
      line-height: 24px;
      height: auto; }
    .posts .item .date {
      margin-top: 15px; }
    .posts .item ~ .item {
      margin-top: 40px; }

  .pagination, article {
    margin-bottom: 100px; }

  article h1, article .h1 {
    font-size: 36px; }
  article h2, article .h2 {
    line-height: 36px; }
  article h3, article .h3 {
    line-height: 27px; }
  article .info {
    margin: 40px auto; }
    article .info .center-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }

  .locality {
    text-align: center; }

  .table-locality {
    margin: 40px 0 100px 0; }
    .table-locality > tbody > tr > td {
      vertical-align: middle;
      font-size: 14px;
      padding: 15px 20px; }
      .table-locality > tbody > tr > td:last-of-type {
        text-align: left; }
    .table-locality p {
      margin: 0; }
      .table-locality p ~ p {
        margin-top: 5px; } }
@media (max-width: 767px) {
  .scroll-pane {
    margin-left: -10px;
    margin-right: -10px; }

  .sort {
    display: inline-block; }

  .sort-big {
    display: none;
    overflow: hidden; }

  .table-slide > tbody > tr > td, .table-slide > thead > tr > th {
    display: none;
    text-align: center; }
    .table-slide > tbody > tr > td.sorting, .table-slide > thead > tr > th.sorting {
      color: #000;
      border-color: #000; }
    .table-slide > tbody > tr > td.th, .table-slide > thead > tr > th.th {
      text-align: left;
      padding-left: 42px;
      width: 150px; }
      .table-slide > tbody > tr > td.th .icon-114-clock, .table-slide > thead > tr > th.th .icon-114-clock {
        display: none; }
      .table-slide > tbody > tr > td.th span, .table-slide > thead > tr > th.th span {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50px; }
    .table-slide > tbody > tr > td.th:first-of-type, .table-slide > thead > tr > th.th:first-of-type {
      border-right: 0;
      text-align: left;
      padding-left: 15px;
      width: auto; }
    .table-slide > tbody > tr > td:first-of-type, .table-slide > thead > tr > th:first-of-type {
      border-right: 1px solid #d9d9d9; }
    .table-slide > tbody > tr > td:first-of-type, .table-slide > tbody > tr > td.active, .table-slide > thead > tr > th:first-of-type, .table-slide > thead > tr > th.active {
      display: table-cell; }

  .modal-content button.close {
    right: 21px;
    color: #999;
    font-size: 16px;
    top: 19px;
    z-index: 2; }
    .modal-content button.close:hover:after {
      content: none; } }

/*# sourceMappingURL=results.css.map */
