@import "jquery-ui.min.css";

@import "jquery.jscrollpane.css";
@import "main";
@import "datepicker";
@import "autocomplete";



.sort {
  display: none;
  position: relative;
  width: 20px;
  height: 0px;
  font-size: 4px;
  margin-right: 18px;
  color: #999;
  padding-left: 4px;
  .icon-114-up{
    position: absolute;
    top: -14px;
  }
  .icon-114-down{
    position: absolute;
    top: -7px;
  }
  i.active{
    color:$green;
  }
}


.sort-big {
  display: inline-block;
  position: relative;
  width: 3px;
  height: 0px;
  font-size: 10px;
  margin-right: 18px;
  color: $green;
  padding-left: 4px;
  &.active+span{
    color: $green;
    border-color: $green;
  }
  .icon-114-arrow-up{
    position: absolute;
    top: -9px;
    display: none;
  }
  .icon-114-arrow-down{
    position: absolute;
    top: -7px;
    display: none;
  }
  i.active{
    display: inline;
  }
}


.table-results{
  &>tbody>tr>td, &>thead>tr>th{
    border: 0;
    background: #f7f7f7;
    padding: 12px 15px;
    border-top: 10px solid #fff;
    text-align: right;
    &.sorting{
      color: $green;
      border-color: $green;
      white-space: nowrap;
    }
    &.active{
      background: #f7f7f7;
    }
    a:hover{
      text-decoration: none;
      color: $orange;
    }
    .icon-114-route-arrow{
      font-size: 7px;
      padding: 0 7px 0 5px;
    }
    &:nth-of-type(2),&:nth-of-type(3){
      font-weight: 600;
    }
    &:first-of-type{
      text-align: left;
    }
    &.th{
      background: transparent;
      border: 0;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      span{
        display: inline-block;
        border-bottom: 1px dotted;
        cursor: pointer;
      }
    }
  }
}

@import "media";