@import "jquery-ui.min.css";

@import "jquery.jscrollpane.css";
@import "main";
@import "datepicker";
@import "autocomplete";


.route-info{
  color: #4c4c4c;
  display: inline-block;
  width: 100%;
  margin: 30px 0 50px;
  .item{
    width: 50%;
    float: left;
    text-align: center;
    &~.item{
      border-left: 1px solid $lightgray;
    }
    span{
      display: block;
      &:first-of-type{
        text-transform: uppercase;
        font-size: 11px;
      }
      &:last-of-type{
        margin-top:10px;
        font-size: 20px;
        color: #000;
      }
    }
  }
}
.table-route{
  margin-bottom: 100px;
  &>thead>tr {
    th {
      border: 0;
      background: #fff;
      padding: 20px 15px;
      border-top: 1px solid $lightgray;
      text-align: right;

      &:first-of-type{
        text-align: left;
      }

      &.active{
        background: #fff;
      }

      &.th, &.th.active {
        background: transparent;
        border: 0;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 12px 15px;
        span {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  &>tbody>tr {
    &:nth-of-type(2n+1) > td, &:nth-of-type(2n+1) > td.active{
      background: #fbfbfb;
    }
    &:nth-of-type(1) {
      & > td {
        .route {
          &:before {
            border: 1px solid $gray;
            background: #fff;
          }

          &:after {
            content: none;
          }
        }

      }
    }
    &:nth-of-type(2) {
      & > td {
        .route {
          &:after {
            border-left: 1px dashed $gray;
          }
        }

      }
    }

    &:last-of-type {
      & > td {
        .route {
          &:before {
            border: 1px solid $gray;
            background: #fff;
          }

          &:after {
            border-left: 1px dashed $gray;
          }
        }

      }
    }
  }
  &>tbody>tr>td{
    border: 0;
    background: #fff;
    padding: 20px 15px;
    border-top: 1px solid $lightgray;
    text-align: right;

    &.active{
      background: #fff;
    }
    .route{
      margin: 0;
      position: relative;
      display: inline-block;
      &:before{
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        top: 7px;
        left: -25px;
        background: #00ba4e;
        border-radius: 50%;
      }
      &:after {
        content: "";
        position: absolute;
        left: -22px;
        top: -47px;
        height: 56px;
        border-left: 1px solid $green;
      }
    }

    &:first-of-type{
      font-weight: 600;
      padding-left: 40px;
    }
    &:first-of-type{
      text-align: left;
    }
    &.th, &.th.active{
      background: transparent;
      border: 0;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      padding: 12px 15px;
      span{
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }


  }
}

@media (max-width: 767px){
  .table-route {
    margin-bottom: 30px;
    &.table-slide > tbody > tr > td,
    &.table-slide > thead > tr > th {
      text-align: right;
      &.th {
        text-align: center;
        padding-left: 12px;
      }
      &:first-of-type {
        border-right: 0;
        text-align: left;
        &.th {
          text-align: left;
        }
        span {

          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 110px;
        }

      }
    }

    &.table-slide> thead > tr > th.th span {
      max-width: 75px;

    }
    & > tbody > tr > td {
      font-size: 13px;
      padding: 10px 15px;
      .route:after {
        top: -29px;
        height: 36px;
      }
    }
  }

  .route-info {
    width: calc(100% + 20px);
    margin: 20px -10px 20px -10px;
    border-bottom: 1px solid $lightgray;
    .item {
      width: 100%;
      display: inline-block;
      text-align: left;
      float: left;
      border-top: 1px solid $lightgray;
      span{
        width: 50%;
        float: left;
        padding: 10px;
        &:first-of-type{
          text-transform: none;
          font-size: 14px;
        }
        &:last-of-type{
          font-size: 14px;
          margin: 0;
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}
@import "media";