.swiper-button-prev, .swiper-button-next{
  background: none;
  color: #00ba4e;
  border-radius: 50%;
  border: 2px solid #ddd;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  line-height: 27px;
  padding: 0 0 0 1px;
  top: 61px;
}

.swiper-button-prev {
  left: inherit;
  right: 49px;
  padding: 0 0 0 0px;
}